@font-face {
    font-family: "usual";
    src: url("fonts/usual/Regular.otf") format("opentype");
}
@font-face {
    font-family: "usual";
    font-weight: bold;
    src: url("fonts/usual/Bold.otf") format("opentype");
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(89.06deg, #000517 3.87%, #041839 99.97%);
}

body * {
    font-family: "usual", roboto, sans-serif;
    /* font-family: roboto; */
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: transparent;
    display: flex; /* Added */
    justify-content: center; /* Added */
    z-index: 1;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100%;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    display: block;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 13.7156px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;

    color: #ffffff;
}

.logo {
    width: 33vw;
    height: auto;
    padding: 0px;
    margin-left: 18%;
    margin-top: 10%;
}

.bg-lines {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 70vw;
}

.section {
    /* border-top: 1px solid #1441b7;
    border: linear-gradient(
        to bottom,
        rgba(20, 65, 183, 0.45) 0%,
        rgba(20, 65, 183, 1) 50%,
        rgba(20, 65, 183, 0.45) 100%
    ); */
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
}

.section .content {
    margin-left: 18%;
    margin-right: 18%;
    z-index: 1;
}

.section .content .title {
    color: #f21763;
    font-weight: 350;
    font-size: 51.4336px;
    line-height: 61px;
}

.section .content .wrapper {
    margin-block-start: 70px;
}

.section .content .wrapper .paragraph {
    color: white;
    font-weight: 50;
    font-size: 21px;
    line-height: 30px;
    letter-spacing: 0.01em;
}

.section.s1 {
    border-top: none;
    height: 100vh;
}

.section.s1 .content,
.section.s2 .content,
.section.s3 .content {
    display: grid;
    grid-template-columns: 1.2fr 2fr;
    grid-gap: 2rem;
}
.section.s3 .content {
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 2rem;
}

.section.s1 .content {
    margin-top: auto;
    margin-bottom: 5%;
}

.section.s2 .content {
    margin-top: 5%;
}

.section.s2 .content .paragraph-title {
    color: white;
    font-size: 27px;
}

.three-elements {
    display: flex;
    justify-content: space-between;
    width: 100%;
    grid-column: 1 / span 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
}

.three-elements div {
    color: white;
    text-align: left;
}

.three-elements .three-elements .paragraph-title {
    color: white;
    font-weight: 700;
    font-size: 23px;
    line-height: 29px;
    letter-spacing: 0.01em;
    text-align: left;
}

.three-elements .paragraph {
    color: white;
    font-weight: 350;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.01em;
    text-align: left;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid red;
    background-color: transparent;
}

.three-lines {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-gap: 1rem;
}

.red-border {
    border: 2px solid red;
}

.blue-border {
    border: 2px solid #1441b7;
}

.white-border {
    border: 2px solid rgb(255, 255, 255);
}

.two-lines {
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 1rem;
    padding: 26px;
}

.three-elements .two-lines .paragraph-title {
    color: white;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.01em;
    text-align: left;
}

/* STYLE FOR THE MENU */
.element {
    display: grid;
    column-gap: 1rem;
    row-gap: 1rem;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
        "a b"
        "l n"
        "c d";
}

.element.active {
    grid-template-areas:
        "a b"
        "l l"
        "c d";
}

#cosa-facciamo .side-menu .button {
    grid-area: a;
    color: white;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    font-style: normal;
    cursor: pointer;
}

#cosa-facciamo .side-menu .button.active {
    color: #145ce8;
}

#cosa-facciamo .side-menu .menu-section {
    grid-area: d;
    color: white;
    font-style: normal;
    font-weight: 350;
    font-size: 21px;
    line-height: 30px;
    letter-spacing: 0.01em;
    display: none;
}

#cosa-facciamo hr.active {
    grid-area: l;
}

#cosa-facciamo hr {
    grid-column-end: 1;
    grid-area: l;
    border: 1px solid #1441b7;
    width: 100%;
}

#settori .content .four-links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    column-gap: 1rem;
}

#settori .content .settore {
    width: 100%;
}

#settori .content .name {
    text-align: center;
    color: #f0f0f0;
    width: 100%;
    border-top: none;
    padding-top: 10px;
    padding-bottom: 10px;

    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 34px;
    letter-spacing: 0.01em;
    white-space: nowrap;
}

#settori .content .settore {
    position: relative;
    align-content: center;
    margin: auto;
}

#settori .content .settore::before {
    content: "";
    display: block;
    padding-top: 100%; /* This is the trick */
}

#settori .content .settore > * {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#settori .content .settore .square{
    height: 90%;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pink {
    background: #f21763;
}

.blue {
    background: #1441B7;
}

.violet {
    background: #7F0CF2;
}

.yellow {
    background: #f2b90c;
}
