.blue-background {
    background: linear-gradient(89.06deg, #000517 3.87%, #041839 99.97%);
}

html {
    width: fit-content;
}

body {
    width: 100vw;
}

body * {
    font-family: "usual", roboto, sans-serif;
    font-weight: 300;
    color: white;
}

.red-border {
    border: 2px solid red;
}

.blue-border {
    border: 2px solid #1441b7;
}

.white-border {
    border: 2px solid rgb(255, 255, 255);
}

.pink-bg {
    background: #f21763;
}

.pink {
    color: #f21763;
}

.blue-bg {
    background: #1441b7;
}

.blue {
    color: #1441b7;
}

.violet-bg {
    background: #7f0cf2;
}

.violet {
    color: #7f0cf2;
}

.yellow-bg {
    background: #f2b90c;
}

.yellow {
    color: #f2b90c;
}

.scroll-link {
    scroll-behavior: smooth;
}

.page.privacy .section .content .wrapper .paragraph,
.page.privacy .section .content .wrapper li,
.page.privacy .section .content .wrapper p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 100;
    letter-spacing: 1%;
    margin-block-start: 0px;
}

.page.privacy .section .content .wrapper {
    margin-block-end: 50px;
}

.page.privacy .section .content .paragraph-title {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1%;
    color: #1441b7;
    line-height: initial;
    margin-block-end: 2px;
}

.page.privacy .section .content .wrapper li {
    font-style: italic;
    list-style: none;
    position: relative;
    left: -18px;
}

.page.privacy .section .content .wrapper li::before {
    content: "\2022"; /* Unicode character for bullet point */
    display: inline-block;
    width: 9px;
    margin-right: 9px;
    color: #1441b7;
}

.page.privacy .section .content .wrapper .paragraph {
    margin-block-end: 30px;
}

.page.privacy h2.title {
    margin-block-end: 14px;
}

.page.privacy .subtitle {
    font-style: italic;
}

.page.privacy .section .content .wrapper:first-of-type {
    margin-block-start: 80px;
}

@keyframes bg-animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes logo-animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes big-logo-animation {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes slogan-animation {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes future-animation {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.section .content.slogan.animate {
    animation: slogan-animation 4s 1;
}

div.slogan span.future.animate {
    animation: future-animation 5s 1;
}

.page.hp #logo-container.animate {
    animation: logo-animation 7s 1 cubic-bezier(1,.09,.89,.4);
}

.page.hp #big-logo-container.animate {
    animation: big-logo-animation 5s forwards;
    animation-fill-mode: forwards;
}


/* desktop */
@media only screen and (min-width: 481px) {
    .mobile {
        display: none;
    }

    body {
        margin: 0;
        padding: 0;
    }

    main {
        display: grid;
        grid-row-gap: 240px;
        min-width: 920px;
        padding-left: 4%;
        padding-right: 4%;
        grid-template-rows: 800px auto;
    }

    main section {
        margin: auto;
    }

    main section.s2 {
        display: grid;
    }

    header {
        position: fixed;
        top: 0;
        width: 100%;
        height: 70px;
        justify-content: center;
        z-index: 2;
        min-width: 1200px;
        background-clip: padding-box;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    header .wrapper {
        padding-top: 10px;
        padding-left: 15px;
        padding-bottom: 10px;
    }

    header:hover {
        opacity: 1;
    }

    .invisible {
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }

    .visible {
        opacity: 1;
    }

    nav {
        margin: auto;
    }

    nav ul {
        display: flex;
        gap: 30px;
        list-style: none;
        margin: 0;
        padding: 0;
        justify-content: center;
        align-items: center;
        height: min-content;
    }

    nav ul li {
        padding: 6px;
    }

    nav ul li:hover a {
        color: #f21763;
    }

    nav ul li a {
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.05em;
        color: #ffffff;
    }

    nav ul li.selected a {
        color: #145ce8;
        /* border-bottom: 2px solid #145ce8; */
    }

    nav ul li.selected {
        /* color: #145ce8; */
        border-bottom: 2px solid #145ce8;
    }

    section .content h2 {
        margin-block-start: 0px;
    }

    .section .content.slogan {
        height: auto;
        padding: 0px;
        margin-top: 250px;
        font-weight: 350;
        font-size: 80px;
        line-height: 95px;
    }


    .section .content.big-logo {
        padding: 0px;
        position: absolute;
        margin-top: 240px;
    }



    .slogan h4 {
        margin-top: 0px;
    }



    .page.hp #logo-container {
        position: absolute;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
        height: 60px;
        margin-left: 15px;
        margin-top: 10px;
        cursor: pointer;
    }

    .page.hp #logo-container .content{
        position: relative;
        height: 100%;
    }

    .page.hp #big-logo-container {
        height: 300px;
    }

    #logo-container {
        position: absolute;
        height: 60px;
        margin-left: 15px;
        margin-top: 10px;
        cursor: pointer;
        left: 0px;
        top: 0px;
    }

    #logo-container img.logo {
        height: 80%;
        position: absolute;
        bottom: 10px;
    }

    #big-logo-container img.logo {
        position: relative;
        left: -30px;
    }

    .bg-lines {
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .bg-lines.animate {
        animation: bg-animation 1.5s 1;
    }

    .bg-lines2 {
        height: 1010px;
        right: 0px;
        position: absolute;
        opacity: 0.7;
    }

    .section {
        scroll-snap-align: start;
        display: flex;
        flex-direction: column;
    }

    .content {
        margin-left: auto;
        margin-right: auto;
        z-index: 1;
    }

    .section .content {
        width: 1020px;
    }

    .section .content .title {
        font-weight: 300;
        font-size: 51px;
        line-height: 61px;
    }

    .page.hp .section .content .title {
        color: #f21763;
    }

    .section .content .wrapper {
        /* margin-block-start: 30px; */
    }

    .section .content .wrapper .paragraph {
        color: white;
        font-size: 21px;
        line-height: 30px;
        letter-spacing: 0.01em;
    }

    .page.hp .section.s1 {
        border-top: none;
        height: 100vh;
        /* border-bottom: 1px solid #1441b7;
        border: linear-gradient(
            to bottom,
            rgba(20, 65, 183, 0.45) 0%,
            rgba(20, 65, 183, 1) 50%,
            rgba(20, 65, 183, 0.45) 100%
        ); */
    }

    #slogan .content {
        grid-template-columns: 5.2fr 2fr;
    }

    #chi-siamo .content .wrapper,
    #i-nostri-valori .wrapper {
        margin-block-start: 5px;
    }

    #chi-siamo p {
        margin-block-start: 0px;
    }

    .section.s1 .content,
    .section.s2 .content,
    .section.s3 .content,
    .section.s4 .content {
        display: grid;
        grid-template-columns: 1.2fr 2fr;
        grid-gap: 50px;
    }

    /* when click on anchor title is visible: */
    .section .content {
        padding-top: 80px;
    }

    .page.hp .section.s4 .content {
        display: grid;
        grid-template-rows: auto auto;
        grid-gap: 2rem;
    }

    .section.s3 .content .paragraph-title {
        color: white;
        font-size: 27px;
        font-weight: 400;
    }

    .three-elements {
        display: flex;
        justify-content: space-between;
        width: 100%;
        grid-column: 1 / span 3;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2rem;
        column-gap: 95px;
    }

    .section.s4 .three-elements {
        column-gap: 32px;
    }

    .three-elements div {
        color: white;
        text-align: left;
    }

    .three-elements .three-elements .paragraph-title {
        color: white;
        font-weight: 700;
        font-size: 23px;
        line-height: 29px;
        letter-spacing: 0.01em;
        text-align: left;
    }

    .paragraph {
        color: white;
        font-weight: 300;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.01em;
        text-align: left;
    }

    .circle {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid red;
        background-color: transparent;
    }

    .three-lines {
        display: grid;
        grid-template-rows: min-content min-content auto;
        grid-gap: 40px;
    }

    .two-lines {
        display: grid;
        grid-template-rows: 95px auto;
        grid-gap: 1rem;
        padding: 26px;
    }

    .three-elements .two-lines .paragraph-title {
        color: white;
        font-weight: 400;
        font-size: 28px;
        line-height: 34px;
        letter-spacing: 0.01em;
        text-align: left;
    }

    /* STYLE FOR THE MENU */
    .element {
        display: grid;
        column-gap: 1rem;
        row-gap: 1rem;
        grid-template-columns: 1fr 2fr;
        grid-template-areas:
            "a b"
            "l n"
            "c d";
    }

    .element.active {
        grid-template-areas:
            "a b"
            "l l"
            "c d";
    }

    .page.hp .section.s4 {
        display: block;
    }

    #cosa-facciamo .side-menu .button {
        grid-area: a;
        color: white;
        font-weight: 400;
        font-size: 30px;
        line-height: 35px;
        font-style: normal;
        cursor: pointer;
    }

    #cosa-facciamo .side-menu .button.active {
        color: #145ce8;
    }

    #cosa-facciamo .side-menu .menu-section {
        grid-area: d;
        color: white;
        font-style: normal;
        font-weight: 300;
        font-size: 21px;
        line-height: 30px;
        letter-spacing: 0.01em;
        height: 0px;
        overflow-y: hidden;
        transition: height 0.3s ease;
    }

    #cosa-facciamo .side-menu .element.active .menu-section {
        height: auto;
    }

    #cosa-facciamo hr.active {
        grid-area: l;
    }

    #cosa-facciamo hr {
        grid-column-end: 1;
        grid-area: l;
        border: 1px solid #1441b7;
        width: 100%;
    }

    #settori .content {
        padding-top: 200px;
    }

    #settori .content .four-links {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        column-gap: 1rem;
    }

    #settori .content .settore {
        width: 100%;
    }

    #settori .content .name {
        text-align: center;
        color: #f0f0f0;
        width: 100%;
        border-top: none;
        padding-top: 10px;
        padding-bottom: 10px;

        font-style: normal;
        font-weight: 400;
        font-size: 29px;
        line-height: 34px;
        letter-spacing: 0.01em;
        white-space: nowrap;
    }

    #settori .content .settore {
        position: relative;
        align-content: center;
        margin: auto;
    }

    #settori .content .settore .square {
        position: relative;
    }

    #settori .content .settore .square.arrow,
    #settori .content .settore a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    #settori .content .settore .square.arrow img {
        width: 66px;
        padding: 12px;
        margin: 20px;
        position: absolute;
        right: 0px;
        bottom: 0px;
    }

    #settori .content .settore .square img {
        width: 100%;
        box-sizing: border-box;
        padding: 12px;
    }

    #contatti .two-columns {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #contatti .two-columns .locations.column ul {
        list-style: none;
        padding-left: 0px;
    }

    #contatti .two-columns .locations.column ul h5 {
        margin-bottom: 0px;
        font-weight: 700;
    }

    #contatti .two-columns .locations.column ul p {
        margin-block-start: 0px;
    }

    .form-group label {
        display: none;
    }

    .email-form form {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50px 50px auto 26px 50px;
        grid-template-areas:
            "name name"
            "email object"
            "body body"
            "gap gap"
            "button empty";
    }

    .email-form form .form-group.name {
        grid-area: name;
    }

    .email-form form .form-group.email {
        grid-area: email;
    }

    .email-form form .form-group.body {
        grid-area: body;
    }

    .email-form form button {
        grid-area: button;
    }

    .email-form form .gap.button {
        grid-area: button;
    }

    .email-form form input,
    textarea,
    button,
    select {
        background-color: transparent;
        border-image: none;
        border: 2px solid #1441b7;
        box-sizing: border-box;
        resize: none;
    }

    .email-form form .form-group select:focus-visible{
        outline: none;
    }

    .email-form form .form-group input,
    textarea, select {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: 17px;
        color:  #145ce8;
    }

    .email-form form .form-group input#email {
        border: 1px;
        border-left: 2px solid #1441b7;
    }

    .email-form form .form-group input#object, select#object {
        border: 1px;
        border-right: 2px solid #1441b7;
        border-left: 2px solid #1441b7;
    }

    .email-form form button {
        width: 60%;
        cursor: pointer;
    }

    .email-form form button:hover {
        border: white solid;
        color: white;
    }

    .email-form form input::placeholder,
    textarea::placeholder,
    button {
        color: #145ce8;
    }

    .email-form form input:focus,
    textarea:focus {
        outline: none;
    }

    footer {
        margin-bottom: 50px;
    }
    footer p {
        display: inline-block;
        margin-left: 35px;
    }

    footer a {
        text-decoration: none;
    }

    footer * {
        font-size: 15px;
        line-height: 29px;
        letter-spacing: 0.08em;
    }

    /* PAGE SECTORS */
    .page.sectors .section {
        border-top: none;
        /* border-bottom: 1px solid #1441b7; */
        /* border: linear-gradient(
            to bottom,
            rgba(20, 65, 183, 0.45) 0%,
            rgba(20, 65, 183, 1) 50%,
            rgba(20, 65, 183, 0.45) 100%
        ); */
    }
    .page.sectors .section .content {
        display: grid;
        grid-template-columns: 1.2fr 2fr;
        grid-gap: 50px;
        margin-bottom: 110px;
    }

    .page.privacy .section .content {
        margin-bottom: 110px;
    }

    .page.privacy .section.s1,
    .page.sectors .section.s1 {
        margin-top: 200px;
    }

    .page.privacy .section .content,
    .page.sectors .section .content {
        margin-top: 110px;
    }

    .page.sectors .section .content .wrapper .paragraph {
        font-size: 21px;
        line-height: 30px;
        letter-spacing: 0.01em;
        margin-top: 25px;
    }

    .page.sectors main {
        row-gap: 0px;
    }

    .page.sectors section:last-of-type {
        border-bottom: none;
    }

    .page.sectors footer {
        margin-top: 200px;
    }
}

@media only screen and (max-width: 480px) {
    .desktop {
        display: none;
    }
    body,
    main {
        margin: 0;
        padding: 0;
    }

    .blue-background {
        /* background: #000; */
    }

    /* Mobile menu styles */

    .logo {
        width: 50%;
        z-index: 1;
        /* padding-left: 25px; */
    }

    #logo-container {
        margin-top: 20px;
        margin-left: 28px;
        z-index: 1;
    }

    #logo-container .content{
        padding-left: 25px;
    }
    
    #logo-container .logo{
        padding-left: 25px;
        z-index: 2;
        position: relative;
    }

    #big-logo-container img.logo {
        position: relative;
        left: -12px;
    }

    .page.hp #big-logo-container .logo {
        width: 80%;
    }

    .section .content.big-logo {
        padding: 0px;
        position: absolute;
        margin-top: 70px;
    }

    header {
        transition: height 1s ease-in-out;
        height: initial;
    }

    header,
    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        /* height: 100%; */
        z-index: 1;
    }

    .navbar .wrapper {
        display: flex;
        flex-direction: row-reverse;
    }

    .navbar ul {
        padding-inline-start: 0px;
    }

    nav ul li.selected a {
        color: #145ce8;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 32px;
        height: 19px;
        cursor: pointer;
        right: 0px;
        /* position: absolute; */
        margin-top: 47px;
        margin-right: 40px;
    }

    .hamburger span {
        display: block;
        background-color: white;
        height: 1px;
        width: 100%;
        border-radius: 4px;
        transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
    }

    header .wrapper ul {
        padding-top: 70px;
        padding-bottom: 152px;
        list-style: none;
        text-align: center;
        gap: 28px;
        display: grid;
        z-index: 2;
        transition-property: opacity, height;
        transition-duration: 1s, 4s;
        transition-timing-function: ease-in-out;
        box-sizing: content-box;
    }

    header .wrapper ul.hide li {
        pointer-events: none;
    }

    header .wrapper ul.hide {
        z-index: 0;
        /* height: 0px; */
        /* transition: height 5s ease-in-out; */
    }

    header .wrapper ul li a {
        text-decoration: none;
        font-size: 32px;
        line-height: 38px;
    }

    .hamburger.open span:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }

    .hamburger.open span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.open span:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }

    .hide {
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }

    .show {
        opacity: 1;
        transition: opacity 1s ease-in-out;
    }

    .display-none {
        display: none;
    }

    .zero-size {
        height: 0px;
        margin: 0px;
        padding: 0px!important;
    }

    .full-height{
        height: 100%;
    }

    .display-flex {
        display: flex;
    }

    .bg-lines.mobile {
        width: calc(100vw + 70px);
        overflow: hidden;
        position: absolute;
        top: 180px;
        left: -70px;
        z-index: 0;
    }

    .slogan {
        top: 176px;
        font-weight: 350;
        font-size: 40px;
        line-height: 48px;
        width: 270px;
        margin-top: 0px;
        height: 70vh;
        position: sticky;
    }

    .section {
        padding-left: 26px;
        padding-right: 26px;
    }

    .section .title {
        font-size: 32px;
        line-height: 38px;
        /* color: #f21763; */
    }

    .page.hp .section .title {
        color: #f21763;
    }

    .section .paragraph {
        font-weight: 300;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.01em;
    }

    .section {
        padding-bottom: 48px;
        padding-top: 30px;
    }

    .section.s1 {
        margin-top: 120px;
    }

    .page.hp .section.s2 {
        border-bottom: 1px solid #1441b7;
    }

    .section .paragraph-title {
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.01em;
        padding-bottom: 15px;
    }

    .section .three-elements .three-lines img {
        margin-top: 70px;
    }

    .section .three-elements .paragraph-title {
        margin-top: 20px;
        margin-bottom: 16px;
    }

    .section .three-elements .two-lines {
        padding-left: 26px;
        padding-right: 26px;
        padding-bottom: 35px;
        padding-top: 10px;
    }

    .section .three-elements .two-lines:nth-child(1),
    .two-lines:nth-child(2) {
        border-bottom: none;
    }

    #cosa-facciamo.section .side-menu .button {
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0.01em;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    #cosa-facciamo.section .side-menu .menu-section {
        padding-bottom: 0px;
        font-weight: 200;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.01em;
        transition: height 0.3s ease;
        height: 0px;
        overflow-y: hidden;
    }

    #cosa-facciamo .side-menu .button {
        grid-area: a;
        color: white;
        font-weight: 400;
        font-size: 30px;
        line-height: 35px;
        font-style: normal;
        cursor: pointer;
    }

    #cosa-facciamo .side-menu .button.active {
        color: #145ce8;
    }

    #cosa-facciamo .side-menu .element.active .menu-section {
        height: auto;
    }

    #cosa-facciamo hr {
        border: 1px solid #1441b7;
    }

    #settori .content .four-links {
        display: grid;
        row-gap: 46px;
    }

    #settori .content .settore {
        position: relative;
        align-content: center;
        margin: auto;
    }

    #settori .content .settore .square {
        position: relative;
    }

    #settori .content .settore .square.arrow,
    #settori .content .settore a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    #settori .content .settore .square.arrow img {
        width: 66px;
        padding: 12px;
        margin: 20px;
        position: absolute;
        right: 0px;
        bottom: 0px;
    }

    #settori .content .settore .square img {
        width: 100%;
        box-sizing: border-box;
        padding: 12px;
    }

    #settori .content .name {
        text-align: center;
        color: #f0f0f0;
        width: 100%;
        border-top: none;
        padding-top: 10px;
        padding-bottom: 10px;

        font-style: normal;
        font-weight: 400;
        font-size: 29px;
        line-height: 34px;
        letter-spacing: 0.01em;
        white-space: nowrap;
    }

    #settori .content .settore {
        width: 100%;
    }

    #contatti .locations.column ul {
        list-style: none;
        padding-left: 0px;
    }

    #contatti .locations.column ul h5 {
        margin-bottom: 0px;
        font-weight: 700;
    }

    #contatti .locations.column ul p {
        margin-block-start: 0px;
    }

    .form-group label {
        display: none;
    }

    .email-form {
        margin-top: 45px;
    }

    .email-form form {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 50px 50px 200px 50px;
        grid-template-areas:
            "name"
            "email"
            "object"
            "body"
            "button";
    }

    .email-form form .form-group.name {
        grid-area: name;
    }

    .email-form form .form-group.email {
        grid-area: email;
    }

    .email-form form .form-group.body {
        grid-area: body;
    }

    .email-form form button {
        grid-area: button;
    }

    .email-form form input,
    textarea,
    button,
    select {
        background-color: transparent;
        border-image: none;
        border: 2px solid #1441b7;
        box-sizing: border-box;
        text-align: center;
        border-radius: 0;
        text-align-last:center;
    }

    .email-form form .form-group input,
    textarea, select {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: 17px;
        touch-action: manipulation;
        color: #145ce8;
    }

    .email-form form .form-group select:focus-visible{
        outline: none;
    }

    .email-form form .form-group input#email {
        border: 1px;
        border-left: 2px solid #1441b7;
        border-right: 2px solid #1441b7;
        border-bottom: 2px solid #1441b7;
    }

    .email-form form .form-group input#object, select#object {
        border: 1px;
        border-right: 2px solid #1441b7;
        border-left: 2px solid #1441b7;
    }

    .email-form form button {
        border-top: none;
        width: 100%;
    }

    .email-form form input::placeholder,
    textarea::placeholder,
    button {
        color: #145ce8;
    }

    .email-form form input:focus,
    textarea:focus {
        outline: none;
    }

    footer{
        margin-bottom: 35px;
        margin-top: 200px;
    }

    footer .content p{
        text-align: center;
        font-size: 13px;
    }

    footer .content p a{
        text-decoration: none;
    }

    .page.privacy .section{
        margin-top: 120px;
    }
    


    .page.privacy .section .content .wrapper .paragraph,
    .page.privacy .section .content .wrapper li,
    .page.privacy .section .content .wrapper p,
    .page.privacy .section .content p {
        font-size: 18px;
        line-height: 25px;
        font-weight: 100;
        letter-spacing: 0.18;
        margin-block-start: 0px;
    }

    .page.privacy .section .content .wrapper:first-of-type {
        margin-block-start: 30px;
    }

    .page.privacy .section .content .wrapper li {
        left: -4px;
    }

    header {
        transition: transform 0.3s ease-out;
    }

    .slide-up {
        transform: translateY(-100%);
    }

    .slide-down {
        transform: translateY(0);
    }

    .slide-up {
        transform: translateY(-100%);
    }

    .slide-down {
        transform: translateY(0);
    }
}


/* TEMP STYLE */
#settori .content .settore a{
    pointer-events: none;
}

#settori .content .settore .square.arrow{
    visibility: hidden;
}
